:root {
  --bg: #171723;
  --text-color: #acabc0;
  --text-color-alt: #736f81;
}

:root {
  --color-background: var(--bg);
  --color-text: var(--text-color);
  --color-text-alt: var(--text-color-alt);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button,
input,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Montserrat', sans-serif;
}
