@import './base.css';

.header {
  position: relative;
  background: url('../assets/bg.jpg');
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
